[submodule "client"]
    path = client
    url = https://github.com/pticasolovey20/phone-book-client.git

[submodule "server"]
    path = server
    url = https://github.com/pticasolovey20/phone-book-server.git